/*Start livestream CSS start vanaf hier*/
body {
    background-color: lightgrey;
}

nav {
    background-color: #5357AD;
    padding: 1.5em;
    margin-bottom: 2em;
}

nav a { 
    margin: 1em;
    font-size: 22pt;
    font-family: Gabriola;
    text-decoration: none;
    color: black;
}

.rightNav {
    position: relative;
    right: -40%;
}

nav a:hover {
    color: #9BCAF2;
    border-bottom: 0.5px solid black;
    padding-bottom: 2.5px;
}

nav a:active {
    color: darkred;
}

.screen h2 {
    position: absolute;
    top: 18%;
    left: 20%;
    color: white;
    z-index: 1;
    font-family: roboto; 
}

.screen video {
    width: 1153px;
    height: 649px;
    position: absolute;
    left: 18%;
    top: 20%;
    border-radius: 10px;
}

.formstream {
    position: relative;
    top: 82%;
    left: 35%;
}

.formstream label {
    font-size: 18pt;
    font-family: roboto;
}

.formstream .titel {
    width: 400px;
    height: 40px;
    background-color: #8A8A8A;
    border-radius: 10px;
    color: white;
    font-family: robot;
    font-size: 14pt;
    border: none;
}

.start {
    position: absolute;
    top: 120%;
    left: 8%;
    width: 160px;
    height: 50px;
    border-radius:10px ;
    border: none;
    background-color: #9BCAF2;
    font-size: 14pt;
    font-family: roboto;

}

.error {
    color: red;
}

/*Einde van goLive.php*/
/*Start van liveChat.php*/
.video {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 80%;
    height: 80%;
}

.video h2 {
    position: absolute;
    top: 5%;
    left: 4%;
    color: white;
    z-index: 1;
    font-family: roboto;    
}

.video video {
    width: 965px;
    height: 543px;
    border-radius: 10px 0px 0px 10px;

}

.chat {
    position: absolute;
    top: 0%;
    left: 62.5%;
    background-color: #313131;
    width: 20%;
    height: 70%;
    border-radius: 0px 10px 10px 0px;
}

.chat h3 {
    text-align: center;
    color: white;
    font-family: roboto;
}

.chat input {
    position: absolute;
    top: 80%;
    left: 5%;
}

.chat .message {
    width: 70%;
    height: 5%;
    background-color: #8A8A8A;
    color: white;
    border-radius: 10px 0px 0px 10px;
    font-size: roboto;
}

.chat .chatButton {
    left: 75%;
    height: 5%;
    width: 20%;
    margin-left: -0.5em;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #9BCAF2;
    font-family: roboto;
    cursor: pointer;
}

.chatMessages {
    background-color: #313131;
    height: 60%;
    color: white;
    list-style-type: none; 
    overflow: auto;
}

.stop {
    position: absolute;
    top: 80%;
    left: 30%;
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
    background-color: #9BCAF2;
}

/*live php */
.oudestreams {
    position: relative;
    top: 95%;
    padding: 1em;
    background-color: white;
    height: 100%;
}

.oudestreams h3 {
    text-align: center;
    
}

.archief {
    position: relative;
    max-height: 400px;
    max-width: 1050px;
    left: 20%;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.archief::-webkit-scrollbar {
   opacity: 5%;
   background-color: white;
   width: 0px;
}

.archief .stream-stream img {
    width: 325px;
    height: 325px;
}

.archief .stream-stream h4 {
    position: relative;
    top: -4%;
    left: 2%;
    color: black;
    font-family: roboto;
    font-size: 12pt;
}

.archief .stream-stream {
    min-width:325px;
    height: 400px;
    line-height: 12px;
    text-align: left;
    background-color: white;
    margin-right: 2em;
}

.archief .stream-stream:hover  {
    background-color: black;
    border: white solid 2px;
}

.archief .stream-stream h4:hover{
    position: relative;
    top: -4%;
    left: 2%;
    color: white;
    font-family: roboto;
    font-size: 12pt;
}

.chatClose {
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 77%;
    cursor: pointer;
}

/*Hier komt css van de kalender */
.container {
    border: 2px solid black;

}

.calendar {
    width: 80%;
    height: 80%;
}

.container h3 {
    text-align: center;
}

th {
    background-color: black;
    color:white;
}

td {
    background-color: #313131;
    color: white;
}

.today {
    background-color: darkgrey;
}

/* Hier komt de code voor de posts*/
.likeButton{

    width: 30px;
    height: 30px;

}

.like {
    position: relative;
    bottom: -18%;
    left: 1%;
    background: none;
    border: none;
}

.commentForm {
    display: none;
}

.comment {
    position: relative;
    bottom: -18%;
    left: 5%;
    background: none;
    border: none;
}

.commentButton {
    width: 30px;
    height: 30px;
}

.showButtons{
    position: relative;
    top: 20%;
}

/*Hulp formulier voor vragen*/
.vragen {
    text-decoration: none;
    color: #313131;
    font-family: inter;
    font-size: 16pt;
    margin-left: 20%;
    margin-top: 20px;
}

.vragen:hover {
    border-bottom: #5357AD solid 2px;
    padding-bottom: 2.5px;
}

.vragen:active {
    color: #5357AD;
    border-bottom: #5357AD solid 2px;
    padding-bottom: 2.5px;
}

.vragen:visited {
    color: #5357AD;
    border-bottom: #5357AD solid 2px;
    padding-bottom: 2.5px;
}

.contactForm {
    background-color: #D9D9D9;
    width: 1030px;
    height: 590px;
    position: relative;
    left: 25%;
    margin-top: 6%;
    font-family: sans-serif;
}

.contactForm img {
    background-color: blue;
    height: 240px;
    width: 240px;
    margin-top: 5%;
    margin-left: 0%;
}

.info {
    margin-left: 5%;
}

.hulp {
    position: relative;
    left: 30%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
    top: -70%;
    width: 460px;
}

.vraag {
    height: 171px;
    border-radius: 0px 20px 0px 20px;
}

.hulp h3 {
    margin-left: -10%;
    text-align: center;
}

.formInputHelp {
    border-radius: 0px 20px 0px 20px;
    height: 30px;
}

.map {
    width: 1030px;
    height: 290px;
    position: relative;
    left: 25%;
}

.triangle {
    width: 0;
    height: 0;
    border: solid 90px;
    border-color: transparent transparent #D9D9D9 transparent;
    rotate: 180deg;
    position: absolute;
    left: 48%;
    z-index: 99;
}

.sacramentForm {
    font-size: 16pt;
    text-decoration: none;
    margin-left: 5%;
    color: black;
}

.sacramentForm:hover {
    border-bottom: #5357AD solid 2px;
    padding-bottom: 2.5px;
    opacity: 100%;
    color: #5357AD;
}

.sacramentForm:active {
    border-bottom: #5357AD solid 2px;
    padding-bottom: 2.5px;
    opacity: 100%;
    color: #5357AD;
}

.sacramentForm:visited {
    border-bottom: #5357AD solid 2px;
    padding-bottom: 2.5px;
    opacity: 100%;
    color: #5357AD;
}

#sacrament {
    position: relative;
    left: 30%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
    top: -70%;
    width: 460px;
}

.inputSac {
    border-radius: 0px 20px 0px 20px;
    height: 30px;
}

#mededeling {
    height: 97px;
    border-radius: 0px 20px 0px 20px;
}

#submitSac {
    padding: 0.5em;
    border-radius: 0px 20px 0px 20px;
}

#select-box {
    border-radius: 0px 20px 0px 20px;
    height: 30px;
}